
   
   main{
       color: lightpink;
       display: flex;
       justify-content: center;
       margin: 0%;
       height: 100vh;
       background-color: antiquewhite;
   }
#conteudo {
    background: #a10404;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.btn {
    background:red;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}

.caixa-estrutura{
    margin: auto;
    width: 170px;
}




h2{
    color: #ffffff;
    font-weight: bolder;
    font-size: 35px;
}

#btn2{
    position: absolute;
} 