.btn{
 color: white;
 background-color: brown;
 padding: 5px 5px;
 border-radius: 5px;
 border: 5px;
}

main{
    color: lightpink;
    display: flex;
    justify-content: center;

}
#botao{
    position: fixed;
    display: block;
}