.btn{
 color: white;
 background-color: brown;
 padding: 5px 5px;
 border-radius: 5px;
 border: none;
}

main{
    color: lightpink;
    display: flex;
    justify-content: center;
    margin: 0%;
    height: 100vh;
    background-color: antiquewhite;
}
#botao{
    position: fixed;
    display: block;
}